Package: dnsmasq-base
Source: dnsmasq
Version: 2.77-1
Architecture: amd64
Maintainer: Simon Kelley <simon@thekelleys.org.uk>
Installed-Size: 873
Depends: adduser, libc6 (>= 2.14), libdbus-1-3 (>= 1.9.14), libgmp10, libhogweed4, libidn11 (>= 1.13), libnetfilter-conntrack3, libnettle6, libnfnetlink0
Recommends: dns-root-data
Breaks: dnsmasq (<< 2.63-1~)
Replaces: dnsmasq (<< 2.63-1~)
Section: net
Priority: optional
Description: Small caching DNS proxy and DHCP/TFTP server
 This package contains the dnsmasq executable and documentation, but
 not the infrastructure required to run it as a system daemon. For
 that, install the dnsmasq package.
